body{
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    font-size: 1rem;
}
/* header */
#Reservia{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0 ;
}
.rooms, .activities{
    padding: 20px;
    text-decoration-line: none;
    color: rgb(51, 47, 47);
}
#sign-in{
    text-decoration-line: none;
    padding: 20px;
    color: #0065FC;
    font-weight: bold;
}
nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
#title1{
    margin-bottom: 0;
}
.lieu{
    margin-top: 0;
}
/*Barre de recherche et filtres*/
#search_bar{
    display: flex;
}
#search_bar i{ 
    border: 15px solid  #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:   #F2F2F2;    
}
.champ{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: 2px solid  #F2F2F2;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}
.button{
    font-family: 'Raleway', sans-serif;
    border: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    width: 120px;
    cursor: pointer;

}
.button:visited{
    border: #0065FC;
}

}
/* Règles applicables pour un écran d'une largeur maximale de 768 pixels */
@media screen and (max-width: 768px)

    


    
    
    
    
    

