body{
    font-family: 'Raleway', sans-serif;
}
/* header */
#Reservia{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0 ;
}
.rooms, .activities{
    padding: 20px;
    margin-right: 15px;
    text-decoration-line: none;
    color: rgb(51, 47, 47);
}
#sign-in{
    text-decoration-line: none;
    padding: 20px;
    color: #0065FC;
    font-weight: bold;
}
nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
#title1{
    margin-bottom: 0;
}
.lieu{
    margin-top: 16px;
}
/*Barre de recherche et filtres*/
#search_bar{
    display: flex;
    margin-bottom: 15px;
}
#search_bar i{
    border: 15px solid  #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:   #F2F2F2;    
}
.champ{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: 2px solid  #F2F2F2;
    font-weight: bold;
    font-size: 1.1em;
}
.button{
    font-family: 'Raleway', sans-serif;
    border: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    width: 120px;
    cursor: pointer;
}
#filters_bar{
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
    width: auto;
}
#filters_bar h3{
    margin-right: 30px;
}
#economic{
    margin-right: 30px;
    display: flex;
    align-items: center;
    width: 15%;
    height: auto;
    border: 2px solid #F2F2F2;
    border-radius: 35px 35px;
    border-left-color: #DEEBFF;
    cursor: pointer;
}
#economic:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
#economic h3{
    margin: auto;
}
.eco_icon {
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
    background-color: #DEEBFF;
}
#family{
    margin-right: 30px;
    display: flex;
    align-items: center;
    width: 11%;
    height: auto;
    border: 2px solid #F2F2F2;
    border-radius: 35px 35px;
    border-left-color: #DEEBFF;
    cursor: pointer;
}
#family h3{
    margin: auto;
}
.family_icon{
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
    background-color: #DEEBFF; 
}
#family:hover{
    color: #0065FC;
    background-color: #DEEBFF; 
}
#romantic{
    margin-right: 30px;
    display: flex;
    align-items: center;
    width: 14%;
    height: auto;
    border: 2px solid #F2F2F2;
    border-radius: 35px 35px;
    border-left-color: #DEEBFF;
    cursor: pointer;
}
#romantic h3{
    margin: auto;
}
.romantic_icon{
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
    background-color: #DEEBFF; 
}
#romantic:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
#animals{
    display: flex;
    align-items: center;
    width: 19%;
    height: auto;
    border: 2px solid #F2F2F2;
    border-radius: 35px 35px;
    border-left-color: #DEEBFF;
    cursor: pointer;
}
#animals h3{
    margin: auto;
}
.animals_icon{
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
    background-color: #DEEBFF; 
}
#animals:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.icon-text{
    display: flex;
    align-items: center;
}
.icon-text i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border: 2px solid #F2F2F2;
    background-color: white;
    color: #0065FC;
    border-radius: 100%;
}
#infos{
    padding-bottom: 30px;
}
/* Section Hébergements */
#hebergements{
    width: 67%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#rooms img{
    width: 100%;
    height: 9vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#rooms{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 0.95em;
}
#rooms figure{
    margin: 0;
}
#rooms figcaption h4, p{
    margin: 10px 10px 10px 10px;
}
#rooms a{
    width: 30%;
    text-decoration-line: none;
    color: black;
}
#rooms .stars{
    color: #0065FC;
    margin: 0 0 20px 10px;
}
#rooms .stars span{
    color: #F2F2F2;
}
#hebergements .title_rooms{
    padding: 10px 0 0 25px;
}
#hebergements .show_more{
    padding: 0 0 10px 10px;
}
.cannebiere{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
}
.hotel-port{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
}
.mouettes{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
}
.mer{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.panier{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.Amina{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
/* Section populaires */
#search_results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#populaires{
    width: 30%;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-left: 20px;
    font-size: 0.95em;
}
.popular_title_icon{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 35px;
}
.popular_title_icon i{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.soleil_matin{
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.coeur_eau{
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.bleu_blanc{
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.popular_rooms img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.popular_rooms a{
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    height: 21%;
    color: black;
}
.popular_rooms .text_stars{
    width: 50%;
}
.popular_rooms{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}   
.popular_rooms .text_stars h4 {
    margin: 0;
    padding-top: 10px;
}
.popular_rooms .text_stars p{
    margin: 0;
    padding-top: 10px;
}
.popular_rooms .stars{
    color: #0065FC;
    padding-top: 20px;
}
.popular_rooms .stars span{
    color: #F2F2F2;
}
/*Section activités*/
.title_activities{
    margin-top: 60px;
}
.marseille_activities{
    display: flex;
    justify-content: space-between;
}
.marseille_activities .vp{
    text-decoration-line: none;
    color: black;
    width: 22%;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
}
.vieux_port img{
    width: 100%;
    height: 35vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.pomegues_frioul{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pomegues_frioul .po{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
}
.pomegues_frioul .fri{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
}
.pomegues img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.frioul img{
    width: 100%;
    height: 7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.cal{
    width: 22%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
}
.calanques img{
    width: 100%;
    height: 35vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.notredame_longchamp{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notredame_longchamp .nd{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
}
.notredame_longchamp .lo{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #F2F2F2;
}
.notredame img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.longchamp img{
    width: 100%;
    height: 7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* Règles applicables pour un écran d'une largeur maximale de 768 pixels */
@media screen and (max-width: 768px){
    
    
    
}

    


    
    
    
    
    

