body{
    font-family: 'Raleway', sans-serif;
}
/* header */
#Reservia{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0 ;
}
.rooms, .activities{
    padding: 20px;
    margin-right: 15px;
    text-decoration-line: none;
    color: rgb(51, 47, 47);
}
#sign-in{
    text-decoration-line: none;
    padding: 20px;
    color: #0065FC;
    font-weight: bold;
}
nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
#title1{
    margin-bottom: 0;
}
.lieu{
    margin-top: 16px;
}
/*Barre de recherche et filtres*/
#search_bar{
    display: flex;
    margin-bottom: 15px;
}
#search_bar span i{
    border: 15px solid  #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:   #F2F2F2;    
}
.champ{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border: 2px solid  #F2F2F2;
    font-weight: bold;
    font-size: 1.1em;
}
.button{
    font-family: 'Raleway', sans-serif;
    border: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    width: 120px;
    cursor: pointer;
}
.loupe{
    display: none;
}
#filters_bar{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.filters_title h3{
    margin-top: 0;
    margin-bottom: 0;
}
.categories h3{
    padding-left: 15px;
    padding-right: 15px;
}
.eco_icon{
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
    background-color: #DEEBFF;
    position: relative;
    right: 2px;
}
#economic{
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 30px;
}
#economic:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.family_icon{
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
    background-color: #DEEBFF;
    position: relative;
    right: 2px; 
}
#family{
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 25px
}
#family:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.romantic_icon{
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100px;
    color: #0065FC;
    background-color: #DEEBFF;
    position: relative;
    right: 2px;
}
#romantic{
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 25px
}
#romantic:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.animals_icon{
    display: flex;
    border: 15px solid #DEEBFF;
    border-radius: 100%;
    color: #0065FC;
    background-color: #DEEBFF;
    position: relative;
    right: 2px;
}
#animals{
    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 25px;
}
#animals:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.categories{
    display: flex;
    width: 100%;
}
.icon-text{
    display: flex;
    align-items: center;
}
.icon-text i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border: 2px solid #F2F2F2;
    background-color: white;
    color: #0065FC;
    border-radius: 100%;
}
#infos{
    padding-bottom: 30px;
}
/* Section Hébergements */
#hebergements{
    width: 67%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#rooms img{
    width: 100%;
    height: 9vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
#rooms{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
}
#rooms figure{
    margin: 0;
}
#rooms figcaption h4{
    margin: 10px 10px 10px 10px;
}
#rooms figcaption p{
    margin: 10px 10px 10px 10px;
}
#rooms a{
    width: 30%;
    text-decoration-line: none;
    color: black;
}
#rooms .stars{
    color: #0065FC;
    margin: 0 0 20px 10px;
}
#rooms .stars span{
    color: #F2F2F2;
}
#hebergements .title_rooms{
    padding: 10px 0 0 25px;
}
#hebergements .show_more{
    padding: 0 0 10px 10px;
}
.cannebiere{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
}
.hotel-port{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
}
.mouettes{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
    margin-bottom: 20px;
}
.mer{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.panier{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
.Amina{
    width: 90%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid white;
}
/* Section populaires */
#search_results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#populaires{
    width: 30%;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-left: 20px;
}
.popular_title_icon{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 35px;
}
.popular_title_icon i{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.popular_rooms{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular_rooms img{
    width: 125px;
    height: 140px;
    object-fit: cover;
    display: flex;
    border-radius: 15px 0 0 15px;
}
.popular_rooms a{
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    color: black;
}
.popular_rooms .text_stars{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text_stars h4{
    margin: 0 0 10px 0;
}
.text_stars p{
    margin: 0;
}
.popular_rooms .stars{
    color: #0065FC;
}
.popular_rooms .stars span{
    color: #F2F2F2;
}
.soleil_matin{
    display: flex;
    width: 80%;
    font-size: 1em;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
}
.coeur_eau{
    display: flex;
    width: 80%;
    font-size: 1em;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
}
.bleu_blanc{
    display: flex;
    width: 80%;
    font-size: 1em;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
}
/*Section activités*/
.title_activities{
    margin-top: 60px;
}
.marseille_activities{
    display: flex;
    justify-content: space-between;
}
.marseille_activities .vp{
    text-decoration-line: none;
    color: black;
    width: 22%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 3px solid #F2F2F2;
}
.vieux_port img{
    width: 100%;
    height: 35vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.pomegues_frioul{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pomegues_frioul .po{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 3px solid #F2F2F2;
}
.pomegues_frioul .fri{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 3px solid #F2F2F2;
}
.pomegues img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.frioul img{
    width: 100%;
    height: 7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.cal{
    width: 22%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 3px solid #F2F2F2;
}
.calanques img{
    width: 100%;
    height: 35vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.notredame_longchamp{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notredame_longchamp .nd{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 3px solid #F2F2F2;
}
.notredame_longchamp .lo{
    width: 100%;
    text-decoration-line: none;
    color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border: 3px solid #F2F2F2;
}
.notredame img{
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.longchamp img{
    width: 100%;
    height: 7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 60px;
}
.about ul{
    list-style-type: none;
    padding: 0;
}
.about ul li a{
    text-decoration-line: none;
    color: black;
}
.our_rooms ul{
    list-style-type: none;
    padding: 0 ;
}
.our_rooms ul li a{
    text-decoration-line: none;
    color: black;
}
.assistance ul{
    list-style-type: none;
    padding: 0;
}
.assistance ul li a{
    text-decoration-line: none;
    color: black;
}
footer ul li{
    padding-bottom: 10px;
}
.footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
/* Règles applicables pour un écran d'une largeur maximale de 560 pixels */
@media screen and (max-width: 560px){
    body{
        margin: 0;
    }
    #Reservia{
        display: block;
    }
    #logo{
        width: 35%;
        padding-left: 10px;
    }
    nav ul{
        padding: 20px 0 20px 0;
        width: 100%;
        justify-content: space-around;
        border-bottom: 2px solid #F2F2F2;
    }
    nav li a:hover{
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    #inscription{
        position: absolute;
        top: 39px;
        right: 10px;
    }
    #sign-in{
        padding: 0;
    }
    #title1{
        margin-top: 25px;
        font-size: 1.3em;
        padding-left: 15px;
    }
    .lieu{
        font-size: 0.95em;
        padding-left: 15px;
    }
    #search_bar{
        padding-left: 15px;
    }
    .button{
        display: none;
    }
    .loupe{
        display: flex;
        border-radius: 10px;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        padding: 0;
        position: relative;
        right: 5px;
    }
    i.fas.fa-search{
        color: white;
        background-color: #0065FC;
        border: 13px solid #0065FC;
        border-radius: 10px;
        font-size: 17px;
    }
    .champ{
        padding: 0 5px 0 0;
        border-right: 0;
    }
    #Filters{
        padding-left: 10px;
    }
    #filters_bar{
        flex-wrap: wrap;
    }
    .filters_title{
        margin-bottom: 20px;
    }
    .categories{
        flex-wrap: wrap;
    }
    #economic{
        margin: 0px;
        width: auto;
        margin: 0 7px 10px 0;
    }
    #family{
        width: auto;
        margin: 0 7px 10px 0;
    }
    #romantic{
        width: auto;
        margin: 0 7px 10px 0;
    }
    #animals{
        width: auto;
        margin-left: 0;
    }
    #search_results{
        flex-direction: column;
    }
    #infos{
        padding-left: 10px;
    }
    #populaires{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        order: -1;
        border-radius: 0;
        margin-left: 0;
    }
    .popular_title_icon{
        width: 100%;
        padding: 0;
        justify-content: space-between;
    }
    .popular_rooms{
        font-size: 0.85em;
        width: 100%;
    }
    .popular_rooms a{
        width: 100%;
        margin-bottom: 15px;
    }
    .soleil_matin{
        width: 85%;
    }
    .coeur_eau{
        width: 85%;
    }
    .bleu_blanc{
        width: 85%;
    }
    #hebergements{
        width: 100%;
        background-color: white;
    }
    #hebergements .title_rooms{
        padding: 0 0 0 15px;
    }
    .title_rooms h2{
        font-size: 1.3em;
        margin: 25px 0 20px 0;
    }
    #rooms{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #rooms a{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #rooms img{
        height: 35vw;
    }
    .cannebiere{
        border: 3px solid #F2F2F2;
        box-shadow: 6px 6px 6px #f2f2f2;
    }
    .hotel-port{
        border: 3px solid #F2F2F2;
        box-shadow: 6px 6px 6px #f2f2f2;
    }
    .mouettes{
        border: 3px solid #F2F2F2;
        box-shadow: 6px 6px 6px #f2f2f2;
    }
    .mer{
        margin-bottom: 20px;
        border: 3px solid #F2F2F2;
        box-shadow: 6px 6px 6px #f2f2f2;
    }
    .panier{
        margin-bottom: 20px;
        border: 3px solid #F2F2F2;
        box-shadow: 6px 6px 6px #f2f2f2;
    }
    .Amina{
        margin-bottom: 15px;
        border: 3px solid #F2F2F2;
        box-shadow: 6px 6px 6px #f2f2f2; 
    }
    #hebergements .show_more{
        padding: 0 0 10px 20px;
    }
    .marseille_activities{
        flex-direction: column;
        height: 120%;
        align-items: center;
    }
    .title_activities{
        margin: 0 0 0 18px;
    }
    .marseille_activities .vp{
        width: 90%;
        margin-bottom: 25px;
    }
    .pomegues_frioul{
        width: 90%;
        margin-bottom: 25px;
    }
    .po{
        margin-bottom: 25px;
    }
    .cal{
        width: 90%;
        margin-bottom: 25px;
    }
    .notredame_longchamp{
        width: 90%;
        margin-bottom: 25px;
    }
    .nd{
        margin-bottom: 25px;
    }
    .marseille_activities img{
        height: 35vw;
    }
    .marseille_activities h4{
        margin-left: 10px;
    }
    footer{
        margin-top: 40px;
    }
    .footer{
        display: block;
        margin-left: 20px;
    }
}
@media screen and (min-width: 561px) and (max-width: 1102px){
    body{
        margin: 0;
    }
    header{
        padding-left: 20px;
        padding-right: 15px;   
    }
    nav ul{
        padding-left: 0;
    }
    .rooms, .activities{
        padding: 10px;
    }
    #sign-in{
        padding: 10px;
    }
    #search_bar{
        padding-left: 20px;
    }
    #infos{
        padding-left: 20px;
    }
    #filters_bar{
        display: block;
    }
    .filters_title{
        margin: 0 0 20px 25px;
    }
    .categories{
        display: block;
    }
    #economic{
        width: 200px;
        margin: 0 0 15px 25px;
    }
    #family{
        width: 150px;
        margin: 0 0 15px 25px;
    }
    #romantic{
        width: 190px;
        margin: 0 0 15px 25px;
    }
    #animals{
        width: 250px;
        margin: 0 0 15px 25px;
    }
    #hebergements {
        width: 100%;
        background-color: #F2F2F2;
        margin-bottom: 40px;
        border-radius: 0;
    }
    #rooms {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 0.85em;
    }
    #rooms a {
        width: 35%;
        text-decoration-line: none;
        color: black;
    }
    #rooms img{
        height: 15vw;
    }
    #populaires {
        width: 100%;
        background-color: #F2F2F2;
        margin-left: 0;
        border-radius: 0;
    }
    .popular_rooms a{
        margin-bottom: 50px;
    }
    .soleil_matin{
        display: block;
        width: 95%;
    }
    .coeur_eau{
        display: block;
        width: 95%;
    }
    .bleu_blanc{
        display: block;
        width: 95%;
    }
    .popular_rooms img {
        width: 100%;
        height: 30vw;
        object-fit: cover;
        display: flex;
        border-radius: 15px 15px 0 0;
    }
    .popular_rooms .text_stars{
        font-size: 1.3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    #activities{
        width: 100%;
    }
    .marseille_activities {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .marseille_activities img{
        height: 35vw;
    }
    .marseille_activities .vp{
        width: 95%;
        margin-bottom: 20px;       
    }
    .pomegues_frioul{
        width: 95%;
        margin-bottom: 20px;
    }
    .po{
        margin-bottom: 20px;
    }
    .cal{
        width: 95%;
        margin-bottom: 20px;
    }
    .notredame_longchamp{
        width: 95%;
    }
    .nd{
        margin-bottom: 20px;
    }
    .footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 0.85em;
    }
}

    


    
    
    
    
    

